body {
    font-family     : "Semikolon", sans-serif;
    font-size       : 19.2px;
    background-color: #f7f6f5;
    margin          : 30px;
}

#canvas {
    background-image: url(assets/grass.png);
    height          : 930px;
    max-width       : 1500px;
}

.cp_intro,
.cp_section {
    padding      : 10px 20px;
    border-radius: 7px;
    margin-top   : 15px;
    height       : fit-content;
}

.cp_intro {
    background-color: #ecf4e9;
    border          : 1px solid #d9e3d5;
}

.cp_section {
    background-color: #fff;
    border          : 1px solid #eee;
}

h1,
h2 {
    color      : #40752d;
    font-weight: 700;
    padding    : 0px;
    margin     : 0px 0px 10px 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    width        : 100%;
    font-size    : 29px;
    border-bottom: 1px solid #75742d;
}

.quote {
    font-style: italic;
    padding   : 10px;
}

li {
    line-height: 30px;
}

.equation-box {
    justify-content: space-between;
    display        : flex;
    max-width      : 1100px;
    padding-left   : 10px;
}

.space-box {
    justify-content: space-around;
    display        : flex;
    padding        : 10px 0;
}

.game-text {
    padding       : 15px 0;
    font-weight   : 600;
    font-size     : 23px;
    text-align    : center;
    letter-spacing: 1.2px;
    font-family   : "Mono", monospace;
}

.game-box {
    max-width       : 1500px;
    margin          : 20px 10px;
    border-radius   : 5% 5% 0 0;
    background-color: #1b1b1b;
    border          : 1px solid #eee;
    color           : #dbdbdb;
}

.game-button {
    background-color: #1a5209;
    border-radius   : 10%;
    padding         : 10px 20px;
    height          : fit-content;
    margin          : auto;
    cursor          : pointer;
    transition      : background-color .4s;
    font-size       : 25px;
}

.game-button:hover {
    background-color: #23720a;
}

#dropdown {
    position: absolute;
    width   : fit-content;
    top     : 0;
    left    : 0;
    display: none;
}

#sign_select {
    padding   : 7px 7px;
    border-radius   : 10px;
    border          : 5px solid #3d2a26;
    text-align-last:center; 
    font-weight: 700;
}

#sign_select option {
    text-align-last:center; 
}

.game {
    position: relative;
}

#overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: none;
}